@font-face {
  font-family: 'Coolvetica';
  src: url('/assets/fonts/coolvetica.woff2') format('woff2'),
       url('/assets/fonts/coolvetica.woff') format('woff'),
       url('/assets/fonts/coolvetica.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  --sei-white: #FEFCFB;
  --sei-light-blue: #93B5F0;
  --sei-blue: #5D79D5;
  --sei-dark-blue: #263D92;
  --sei-black-blue: #080E20;
  font-family: 'Coolvetica', sans-serif;
  color: var(--sei-white);
  text-align: center;
  line-height: 1;
}


#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--sei-blue);
  animation: 5s infinite alternate linear breathing-background;
}

@keyframes breathing-background {
  0% { background-color: var(--sei-blue);}
  100% { background-color: var(--sei-light-blue);}
}

a:link {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--sei-dark-blue);
  text-decoration: none;
}

.emph {
  color: var(--sei-dark-blue);
}


@media only screen and (min-width: 0px) and (max-width: 992px)  {
  h1 {
    font-size: 40px;
    margin: 0;
  }
  h2 {
    font-size: 30px;
    margin: 0;
  }
  h3 {
    font-size: 20px;
    margin: 0;
  }
  #mascot {
    display: none;
  }
  #container {
    min-height: 100vh;
    position: relative;
    display: flex;
    padding: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .spacer {
    display: none;
  }
  #logo {
    width: 250px;
  }
  .title {
    text-transform: uppercase;
  }
  .date {
    text-transform: uppercase;
  }
  #social {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
  #social .item {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  h1 {
    font-size: 60px;
    margin: 0;
  }
  h2 {
    font-size: 50px;
    margin: 0;
  }
  h3 {
    font-size: 35px;
    margin: 0;
  }
  #logo {
    width: 400px;
  }
  .spacer {
    display: initial;
    height: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 70px;
    margin: 0;
  }
  h2 {
    font-size: 50px;
    margin: 0;
  }
  h3 {
    font-size: 35px;
    margin: 0;
  }
  #logo {
    width: 500px;
  }
}

@media only screen and (min-width: 992px) {
  :root {
    text-align: left;
  }
  h1 {
    font-size: 70px;
    margin: 0;
  }
  h2 {
    font-size: 50px;
    margin: 0;
  }
  h3 {
    font-size: 35px;
    margin: 0;
  }
  #mascot {
    display: initial;
    position: fixed;
    left: -300px;
    top: 0;
    height: 100vh;
  }
  #container {
    position: fixed;
    top: 0;
    left: 45%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  #logo {
    width: 500px;
  }
  .title {
    text-transform: uppercase;
  }
  .date {
    text-transform: uppercase;
  }
  #social {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
  #social .item {
    margin-right: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  #mascot {
    left: -200px;
  }
}

@media only screen and (min-width: 1400px) {
  #mascot {
    left: -100px;
  }
}

@media only screen and (min-width: 1600px) {
  #mascot {
    left: 0;
  }
}
