.topLine {
    border-top: solid 1px white;
}

.spaceBehind {
    padding-bottom: 3vw;
}

.nada {
    padding-bottom: 0;
}

.paragraph {
    color: white;
    font-size: 1vw;
    line-height: 1vw;
    margin-bottom: 0.4vw;
    margin-top: 0.4vw;
}

.bold {
    font-weight: bolder;
}

.author {
    color: white;
    font-size: 0.8vw;
    margin-bottom: 0.4vw;
    margin-top: 0.4vw;
}

.imgWrapper {
    margin: auto;
    width: 50px;
    height: 50px;
    background-color: red;
    float:right;
}