.leftArrow {
  float: right;
  position: relative;
}

.rightArrow {
  float: left;
  position: relative;
}

.arrowWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.15em;
}
