.underline {
    text-decoration-thickness: 10px;
    position: relative;
    z-index: 5;
}

.cardWrapper {
    position: absolute;
    top: 100%;
    left: 30%;
    margin-top: -15px;
    width: 300px;
    z-index: -10;
}

.cardText {
    font-size: 1.5rem;
    color: black;
    font-weight: normal;
    margin: 0;
}