* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	border: 0;
	vertical-align: baseline;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
	font-size: 100%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
}

body {
	overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	display: block;
	font-weight: 700;
}

i {
	vertical-align: middle;
}
a{
	text-decoration: none;
	&:link{
		text-decoration: none;
	}
  	&:visited {
		text-decoration: none;
  	}
  	// &:hover {
	// 	text-decoration: underline;
  	// }
  	// &:active {
	// 	text-decoration: underline;
	//   }
}
// a,
// a:visited {
// 	cursor: pointer;
// 	transition: color 300ms ease-in-out;

// 	&:focus {
// 		// outline: thin dotted;
// 	}
// 	&:active,
// 	&:hover {
// 		outline: 0;
// 		text-decoration: none;
// 		transition: color 300ms ease-in-out;
// 	}
// }

svg {
	path {
		transition: stroke 300ms ease-in-out, fill 300ms ease-in-out;
	}
	&:hover {
		path {
			transition: stroke 300ms ease-in-out, fill 300ms ease-in-out;
		}
	}
}

input,
textarea:focus {
	outline: 0;
}

button:focus {
	cursor: pointer;
	outline: 0;
}

ol,
ul {
	list-style: none;
}

li {
	list-style: none;
}

/**
* Remove most spacing between table cells.
*/

table {
	border-collapse: collapse;
	border-spacing: 0;
}

blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
	-moz-appearance: none;
}

input[type="search"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
	border: 0; /* 1 */
	-ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
	font-size: 100%; /* 1 */
	margin: 0; /* 2 */
	vertical-align: baseline; /* 3 */
	*vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
	line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
	overflow: auto; /* 1 */
	vertical-align: top; /* 2 */
}
