.clickable {
  position: relative;
}

.outerLink {
  position: absolute;
  width: 100%;
  height: 100%;
}

.gridBlock {
  border-top: solid 1px white;
  padding: 10px;
  margin-left: 10px;
  position: relative;
  transition: 0.5s max-height;
}

.clickable .gridBlock {
  pointer-events: none;
}

.clickable:hover .gridBlock {
  @apply border-quaternary bg-quaternary;
}

.clickable .gridBlock a {
  pointer-events: all;
}

.notCoffee {
  padding-bottom: 2em;
  min-height: 225px;
}

.coffee {
  min-height: 60px;
}

.authors {
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}

.listElem {
  list-style: none;
  float: left;
}

.author:hover {
  text-decoration: underline;
}

.description {
  margin-top: 0.5rem;
  margin-bottom: 2rem;

  transition: 0.5s opacity;
}

.imgWrapper {
  margin-top: -5px;
  width: 50px;
  height: 50px;
  float: right;
  position: relative;
}

.location {
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}

.clickable:hover .location {
  @apply text-primary;
}

.bottomRightCorner {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

.hyperlink {
  position: relative;
}

.hyperlink:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.clickable:hover .hyperlink {
  @apply text-primary;
}

.expand {
  @apply items-center rounded-full border border-white px-8 py-0 text-center font-ibold text-3xl text-white shadow-sm;
  display: inline-block;
  width: 5rem;
}

.clickable:hover .expand {
  @apply border-primary text-primary;
}
