.temp {
    background-color: black;
    display: flex;
    justify-content: center;
}

.blockWrapper {
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.leftBlock {
    width: 50%;
    justify-content: center;
    display: flex;
    border-right: solid 1px gray;
}

.rightBlock {
    width: 50%;
    justify-content: center;
    display: flex;
    border-left: solid 1px gray;
}

.tab {
    width: 20vw;
    float: left;
}