.activity:hover {
  background-color: #4ca9ff;
}

.activity:hover .medium-3 {
  color: #181818;
}

.activity:hover .medium {
  color: #181818;
}

.activity:hover .button {
  border: 2px solid #ffff !important;
}

.agenda-link {
  font-family: "Inter Regular";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-decoration: "none";
}
