* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

body {
  overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 700;
}

i {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

svg path {
  transition: stroke 300ms ease-in-out, fill 300ms ease-in-out;
}

svg:hover path {
  transition: stroke 300ms ease-in-out, fill 300ms ease-in-out;
}

input,
textarea:focus {
  outline: 0;
}

button:focus {
  cursor: pointer;
  outline: 0;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/*=== Import Fonts ===*/
@font-face {
  font-family: "Inter Regular";
  src: url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter Black";
  src: url("../fonts/Inter/Inter-Black.ttf") format("truetype");
}

/*=== Typography Styling ===*/
body {
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

a:visited {
  text-decoration: none;
}

h1.title {
  font-family: "Inter Black";
  font-size: 92px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

@media (max-width: 1200px) {
  h1.title {
    font-size: 70px;
  }
}

@media (max-width: 992px) {
  h1.title {
    font-size: 56px;
  }
}

@media (max-width: 768px) {
  h1.title {
    font-size: 62px;
  }
}

@media (max-width: 576px) {
  h1.title {
    font-size: 40px;
  }
}

h3 {
  font-family: "Inter Black";
  font-size: 56px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

@media (max-width: 1200px) {
  h3 {
    font-size: 36px;
  }
}

@media (max-width: 992px) {
  h3 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  h3 {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  h3 {
    font-size: 16px;
  }
}

h2 {
  font-family: "Inter Black";
  font-size: 56px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 1200px) {
  h2 {
    font-size: 36px;
  }
}

@media (max-width: 992px) {
  h2 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
}

h5 {
  font-family: "Inter Black";
  font-size: 36px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

h4 {
  font-family: "Inter Black";
  font-size: 36px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

h6 {
  font-family: "Inter Black";
  font-size: 30px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 1200px) {
  h6 {
    font-size: 32px;
  }
}

@media (max-width: 992px) {
  h6 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  h6 {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  h6 {
    font-size: 16px;
  }
}

p.x-large-1 {
  font-family: "Inter Black";
  font-size: 28px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #4ca9ff;
}

@media (max-width: 1200px) {
  p.x-large-1 {
    font-size: 32px;
  }
}

@media (max-width: 992px) {
  p.x-large-1 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  p.x-large-1 {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  p.x-large-1 {
    font-size: 12px;
  }
}

p.x-large {
  font-family: "Inter Black";
  font-size: 32px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #00ffb7;
}

p.large {
  font-family: "Inter Regular";
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #fefcfb;
}

p.parag {
  font-family: "Inter Regular";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

@media (max-width: 1200px) {
  p.parag {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  p.parag {
    font-size: 12px;
  }
}

p.medium-4 {
  font-family: "Inter Black";
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}

p.medium-3 {
  font-family: "Inter Black";
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

@media (max-width: 992px) {
  p.medium-3 {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  p.medium-3 {
    font-size: 9px;
  }
}

p.medium-2 {
  font-family: "Inter Regular";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
}

@media (max-width: 992px) {
  p.medium-2 {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  p.medium-2 {
    font-size: 12px;
  }
}

p.medium {
  font-family: "Inter Regular";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

p.medium-5 {
  font-family: "Inter Black";
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0.32px;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 992px) {
  p.medium-5 {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  p.medium-5 {
    font-size: 12px;
  }
}

p.small {
  font-family: "Inter Regular";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

p.x-small {
  font-family: "Inter Black";
  font-size: 12px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

p.x_small2 {
  font-family: "Inter Regular";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

@media (max-width: 576px) {
  p.x_small2 {
    font-size: 10px;
  }
}

p.x-small3 {
  font-family: "Inter Regular";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 255, 183, 0.5);
}

.medium-3 {
  font-family: "Inter Black";
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

@media (max-width: 992px) {
  .medium-3 {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .medium-3 {
    font-size: 9px;
  }
}

.nav-bar-link {
  font-family: "Inter Regular";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.find {
  font-family: "Inter Regular";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

@media (max-width: 576px) {
  .nav-bar-link {
    font-size: 10px;
  }
}

button {
  font-family: "Inter Regular";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 1200px) {
  button {
    font-size: 10px;
  }
}

.intro-bg {
  padding: 0 5% 0 5%;

  /* The image used */
  background-image: url("../../components/images/lines.svg") !important;
  background: #181818;

  /* Full height */
  height: 100%;

  background-size: auto;
  background-repeat: no-repeat;
  background-position: top right;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .container {
  padding-top: 3%;
  padding-bottom: 5%;
  max-width: 87%;
  width: 100%;
  max-width: 1440px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.home .landing {
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  padding-bottom: 5%;
  width: 100%;
  min-height: 80vh;
}

.home .landing .bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
}

.home .container .description {
  margin-top: auto;
  max-width: 792px;
  height: 60vh;
}

.home .container .infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .container .infos .contact .icons {
  margin-top: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .container .infos .contact .icons .social,
.home .container .infos .contact .icons .github,
.home .container .infos .contact .icons .twitter {
  background-size: 100%;
  width: 20px;
  height: 20px;
  opacity: 0.4;
}

.home .container .infos .contact .icons .social:hover,
.home .container .infos .contact .icons .github:hover,
.home .container .infos .contact .icons .twitter:hover {
  opacity: 1;
}

.home .container .infos .contact .icons .github {
  background: url("../../components/images/GitHub.svg");
}

.home .container .infos .contact .icons .twitter {
  background: url("../../components/images/Twitter.svg");
}

.home .container .infos .organization .image {
  margin-top: 6%;
  background: url("../../components/images/cesium.png") no-repeat;
  filter: invert(1) brightness(200%) sepia(100%) saturate(10%);
  background-size: 120px 38px;
  width: 120px;
  height: 38px;
}

.home .container .details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.home .container .details .expect {
  max-width: 246px;
}

.home .container .details .expect h5 {
  margin-bottom: 12%;
}

.home .container .details .expect ul li a {
  color: white;
  font-family: "Inter Regular";
}

.home .container .details .expect ul li a:hover {
  text-decoration: underline;
}

.home .container .details .expect ul li:before {
  position: relative;
  display: inline-block;
  left: 0;
  content: "";
  border: white 1px solid;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 20px;
}

.home .container .details .expect ul li:not(:last-child) {
  margin-bottom: 9px;
}

.home .container .details .expect ul li {
  color: white;
  font-family: "Inter Regular";
}

.home .container .details .quote {
  max-width: 438px;
}

.home .container .details .quote h4 {
  margin-bottom: 7%;
}

@media (max-width: 1200px) {
  .home .container .description {
    max-width: 603px;
  }
  .home .container .details .expect {
    max-width: 246px;
  }
  .home .container .details .expect h5 {
    font-size: 26px;
  }
  .home .container .details .expect ul li a {
    font-size: 12px;
  }
  .home .container .details .expect ul li {
    font-size: 12px;
  }
  .home .container .details .quote {
    max-width: 321px;
  }
  .home .container .details .quote h4 {
    font-size: 26px;
  }
  .grid-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
  }
}

@media (max-width: 992px) {
  .home .container .description {
    max-width: 583px;
  }
  .home .container .details .expect {
    max-width: 246px;
  }
  .home .container .details .expect h5 {
    font-size: 32px;
  }
  .home .container .details .quote {
    max-width: 282px;
  }
  .home .container .details .quote h4 {
    font-size: 32px;
  }
  .grid-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .home .container .infos .organization .image {
    background-size: 120px 38px;
    width: 120px;
    height: 38px;
  }
  .home .container .description {
    max-width: 436px;
  }
  .home .container .details .expect {
    max-width: 150px;
  }
  .home .container .details .expect h5 {
    font-size: 20px;
  }
  .home .container .details .expect ul li a {
    font-size: 10px;
  }
  .home .container .details .expect ul li {
    font-size: 10px;
  }
  .home .container .details .quote {
    max-width: 245px;
  }
  .home .container .details .quote h4 {
    font-size: 20px;
  }
  .grid-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .home .container .infos .contact .icons .social,
  .home .container .infos .contact .icons .github,
  .home .container .infos .contact .icons .twitter {
    opacity: 1;
  }
}

@media (max-width: 576px) {
  .home .container .description {
    max-width: 330px;
  }
  .home .container .description h1 {
    margin-top: 2%;
  }
  .home .container .infos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .home .container .infos .contact .icons {
    margin-top: 20%;
  }
  .home .container .infos .organization {
    margin-top: 25px;
  }
  .home .container .details {
    margin-top: 70px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .home .container .details .expect {
    max-width: 100%;
  }
  .home .container .details .expect h5 {
    max-width: 130px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .home .container .details .quote {
    margin-top: 40px;
    max-width: 100%;
  }
  .home .container .details .quote h4 {
    font-size: 27px;
    margin-bottom: 7%;
  }
  .home .container .infos .contact .icons .social,
  .home .container .infos .contact .icons .github,
  .home .container .infos .contact .icons .twitter {
    opacity: 1;
  }
}

.nav-bar-link,
button,
a {
  cursor: pointer;
}

@media (max-width: 650px) {
  .cardContainer {
    display: none !important;
  }

  .spanChall {
    border: 0 !important;
  }
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 5vw;
  padding-right: 5vw;
}

.sponsor {
  margin: 30px 100px 30px 100px;
}

.sponsor img {
  width: 100px;
}

.sponsor.grayscale img {
  filter: grayscale(1);
}

.sponsor.invert img {
  filter: invert(1);
}

.sponsor.big img {
  width: 150px;
}

.box-home {
  margin: auto;
  overflow: hidden;
  width: 300px;
  position: absolute;
  top: 122px;
  left: 35px;
}

#mascote {
  margin: auto;
  position: relative;
  top: -200px;
  transition: top 1s;
}

.spanChallHome:hover #mascote {
  top: 0px;
}

@media (max-width: 1200px) {
  .box-home {
    top: 96px;
    left: 20px;
  }
}

@media (max-width: 1000px) {
  .box-home {
    top: 79px;
    left: 20px;
  }
}

@media (max-width: 770px) {
  .box-home {
    top: 51px;
    left: 20px;
  }
}

@media (max-width: 650px) {
  .box-home {
    overflow: hidden;
  }
  #mascote {
    display: none;
  }
}
