.clickable {
    position: relative;
}

.outerLink {
    position: absolute;
    width: 100%;
    height: 100%;
}

.block {
    border-top: solid 1px white;
    padding: 10px;
    position:relative;
    pointer-events: none;
}

.clickable:hover .block {
    @apply bg-tertiary;
    border-top: 0px;
    padding-top: 11px;
}

.clickable .block a {
    pointer-events: all;
}

.notCoffee {
    padding-bottom: 2em;
    min-height: 200px;
}

.coffee {
    min-height: 60px;
}

.author {
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}

.imgWrapper {
    margin-top: -5px;
    width: 50px;
    height: 50px;
    float:right;
    position: relative;
}

.location {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

.clickable:hover .location {
    @apply text-secondary;
}

.bottomRightCorner {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}

.hyperlink {
    position: relative;
}

.hyperlink:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.clickable:hover .hyperlink {
    @apply text-secondary
}

.expand {
    @apply rounded-full text-center items-center px-8 py-0 border border-white shadow-sm text-3xl text-white font-ibold;

    margin-left:30px;
    width: 5rem;
}

.clickable:hover .expand {
    @apply border-secondary text-secondary
}