.blockWrapper {
    display: flex;
    justify-content: center;
    margin-top: 4vw;
}

.leftBlock {
    width: 50%;
    justify-content: center;
    display: flex;
}

.rightBlock {
    width: 50%;
    justify-content: center;
    display: flex;
}

.tab {
    width: 20vw;
    float: left;
}