.leftArrow {
    float: right;
    position: relative;
}

.rightArrow {
    float: left;
    position: relative;
}

.arrowWrapper {
    display: flex;
	align-items: center;
	justify-content: center;
    margin-top: 0.15em;
}

.arrow {
    margin: 0;
    border: none;
    width: 0.8em;
    height: 0.8em;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center; 
    background-size: 100% 100%;
    padding: 0;
}

.arrowActive {
    color: white;
}

.notVisible {
    background-image: none;
}

.prev {
    background-image: url('/images/prev-not-clicked.svg');
}

.prev:hover {
    background-image: url('/images/prev-clicked.svg');
}

.next {
    background-image: url('/images/next-not-clicked.svg');
}

.next:hover {
    background-image: url('/images/next-clicked.svg');
}


.wrapper {
    display: flex;
}