.home{
    background: $dark-grey;
    @include flex(center,center);
    .container{
        padding-top: 3%;
        padding-bottom: 5%;
        max-width: 87%;
        width: 100%;
        max-width: 1440px;
        padding-left: 55px;
        padding-right: 55px;
        .description{
            max-width: 792px;
            h1{
                margin-top: 1%;
            }
            margin-bottom: 4%;
        }
        .infos{
            width: 100%;
            @include flex(space-between, center);
            .contact{
                .icons{
                    margin-top: 20%;
                    @include flex(space-between, center);
                    .facebook, .github, .twitter{
                        background-size: 100%;
                        width: 20px;
                        height: 20px;
                    }
                    .facebook{
                        background: url('../../components/images/Facebook.svg');
                    }
                    .github{
                        background: url('../../components/images/GitHub.svg');
                    }
                    .twitter{
                        background: url('../../components/images/Twitter.svg');
                    }
                }
            }
            .organization{
                .image{
                    margin-top: 6%;
                    background: url('../../components/images/cesium.svg')  no-repeat;
                    background-size: 100%;
                    width: 132px;
                    height: 44px;
                }
            }
        }
        .details{
            margin-top: 8%;
            @include flex(space-between, flex-start);
            .expect{
                h5{
                    margin-bottom: 12%;
                }
                ul{
                    li{
                        a{
                            color: white;
                            font-family: $font-primary-regular;
                        }
                        &:before{
                            position: relative;
                            display: inline-block;
                            left: 0;
                            content: '';
                            border: white 1px solid;
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            margin-right: 20px;
                        }
                        &:not(:last-child){
                            margin-bottom: 9px;
                        }
                    }
                }
                max-width: 246px;
            }
            .quote{
                max-width: 438px;
                h4{
                    margin-bottom: 7%;
                }
            }
           
        }
    }
}
@include for-size(desktop-down){
    .home{
        .container{
            .description{
                max-width: 603px;
                p{
                    font-size: 18px;
                }
                h1{
                    font-size: 70px;
                }
            }
            .details{
                .expect{
                    h5{
                        font-size: 26px;
                    }
                    ul{
                        li{
                            a{
                                font-size: 12px;
                            }
                            &:before{
                                width: 4px;
                                height: 4px;
                                margin-right: 15px;
                            }
                            &:not(:last-child){
                                margin-bottom: 6px;
                            }
                        }
                    }
                    max-width: 246px;
                }
                .quote{
                    max-width: 321px;
                    h4{
                        font-size: 26px;
                    }
                }
            
            }
        }
    }
}
@include for-size(tablet-landscape-down){
    .home{
        .container{
            .description{
                max-width: 583px;
                p{
                    font-size: 16px;
                }
                h1{
                    font-size: 65px;
                }
            }
            .details{
                .expect{
                    h5{
                        font-size: 24px;
                    }
                    max-width: 246px;
                }
                .quote{
                    max-width: 282px;
                    h4{
                        font-size: 24px;
                    }
                }
            
            }
        }
    }
}
@include for-size(tablet-portrait-down){
    .home{
        .container{
            .infos{
                .organization{
                    .image{
                        background-size: 120px 36px;
                        width: 120px;
                        height: 36px;
                    }
                }
            }
            .description{
                max-width: 436px;
                p{
                    font-size: 18px;
                }
                h1{
                    font-size: 50px;
                }
            }
            .details{
                .expect{
                    max-width: 150px;
                    h5{
                        font-size: 20px;
                    }
                    ul{
                        li{
                            a{
                                font-size: 10px;
                            }
                            &:before{
                                margin-right: 12px;
                            }
                            &:not(:last-child){
                                margin-bottom: 4px;
                            }
                        }
                    }
                }
                .quote{
                    max-width: 245px;
                    h4{
                        font-size: 20px;
                    }
                }
            
            }
        }
    }
}

@include for-size(phone-only){
    .home{
        .container{
            .description{
                max-width: 330px;
                h1{
                    font-size: 34px;
                    margin-top: 2%;
                }
                p{
                    font-size: 14px;
                }
                margin-bottom: 70px;
            }
            .infos{
                width: 100%;
                @include flex(center, flex-start);
                flex-direction: column;
                .contact{
                    .icons{
                        margin-top: 10%;
                    }
                }
                .organization{
                    margin-top: 25px;
                    .image{
                        margin-top: 8%;
                    }
                }
            }
            .details{
                margin-top: 70px;
                flex-direction: column;
                @include flex(center, flex-start);
                .expect{
                    max-width: 100%;
                    h5{
                        max-width: 130px;
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                    ul{
                        max-width: 250px;
                        flex-wrap: wrap;
                        display: flex;
                        li{
                            &:before{
                                width: 3px;
                                height: 3px;
                                margin-right: 10px;
                            }
                            &:not(:last-child){
                                margin-bottom: 12px;
                            }
                            &:nth-child(even){
                                margin-left: 80px;
                            }
                        }
                    }
                }
                .quote{
                    margin-top: 40px;
                    max-width: 100%;
                    h4{
                        font-size: 27px;
                        margin-bottom: 7%;
                    }
                }
               
            }
        }
    }
    }