.dayWrapper {
    float: left;
}

.tableWrapper {
    margin-top: 1vw;
    float: right;
    margin-right: 2vw;
    width: 20vw;
}

.tempWrapper {
    background-color: black;
    width: 97vw;
    height: 97vh;
}