.card-container {
    display: flex;
    align-items: flex-start;
    // width: 329px;
    img {
        @media (max-width: 766px) {
            width: 60px;
            height: 83px
        }
    }
    .card {
        width: 244px;
        height: 59px;
        padding: 12px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        margin-left: 12px;
        @media (max-width: 766px) {
            width: 212px;
            height: 52px;
            padding: 10px;
        }
        h3 {
            font-family: $font-primary-regular;
            color: $dark-grey;
            font-weight: normal;
            @media (max-width: 766px) {
                font-size: 14px;
            }
        }
    }
}