/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #04041c;
}

canvas {
  margin: 0;
  overflow: hidden;
}

.spacing {
  @apply px-10 md:px-32 xl:px-60;
}

@font-face {
  font-family: "Inter-Black";
  src: url("/fonts/Inter/Inter-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url("/fonts/Inter/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("/fonts/Inter/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("/fonts/Inter/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Medium";
  src: url("/fonts/Inter/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("/fonts/Inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Light";
  src: url("/fonts/Inter/Inter-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-ExtraLight";
  src: url("/fonts/Inter/Inter-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Thin";
  src: url("/fonts/Inter/Inter-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Terminal";
  src: url("/fonts/TerminalGrotesque/TerminalGrotesque.ttf") format("truetype");
}

.font-terminal-uppercase {
  @apply font-terminal;
  text-transform: uppercase;
  -webkit-text-stroke-color: currentColor;
  -webkit-text-stroke-width: 0.25px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* Revert text color */
  -webkit-text-fill-color: white !important;
  color: white !important;
  caret-color: white !important;

  /* Revert background color */
  transition: background-color 5000s ease-in-out 0s;
}
input:autofill {
  background: transparent !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
