/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.spacing {
    @apply px-10 md:px-32 xl:px-60;
}

@font-face {
    font-family: "Inter-Black";
    src: url("/fonts/Inter/Inter-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url("/fonts/Inter/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Bold";
    src: url("/fonts/Inter/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url("/fonts/Inter/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Medium";
    src: url("/fonts/Inter/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Regular";
    src: url("/fonts/Inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Light";
    src: url("/fonts/Inter/Inter-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-ExtraLight";
    src: url("/fonts/Inter/Inter-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Thin";
    src: url("/fonts/Inter/Inter-Thin.ttf") format("truetype");
}