.smallSpacing {
    @apply px-5 md:px-32 xl:px-16 2xl:px-32;
}

.responsiveGrid {
    @apply grid grid-cols-1 xl:grid-cols-10;
}

.leftGridElem {
    /*@apply xl:col-span-6 2xl:col-span-5;*/
    @apply xl:col-span-6;
}

.responsiveCentered {
    @apply flex xl:block justify-center xl:justify-start;
}

.rightGridElem {
    /*@apply xl:col-start-7 xl:col-span-4 2xl:col-start-6 2xl:col-span-5;*/
    @apply xl:col-start-7 xl:col-span-4;
}